:root{
    --porcentaje: 1;
}

html{
    touch-action: pan-down;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

body{
    background: black;
}

#casio{
    width: calc(100vw * var(--porcentaje));  
    position: absolute;
    top: 0vw;
    left: 0vw;
}

.btn{
    width: calc(20vw * var(--porcentaje));
}

/* linea 0 */
#btn_0,#btn_dot,#btn_igual,#btn_sumar{
    top: calc(136vw * var(--porcentaje));
}
#btn_0,#btn_1,#btn_4,#btn_7,#btn_memory_record{
    position: absolute;
    left: calc(7vw * var(--porcentaje));
}
#btn_dot,#btn_2,#btn_5,#btn_8,#btn_memory_sumar{
    position: absolute;
    left: calc(29vw * var(--porcentaje));
}
#btn_igual,#btn_3,#btn_6,#btn_9,#btn_memory_restar{
    position: absolute;
    left: calc(51vw * var(--porcentaje));
}
#btn_sumar,#btn_restar,#btn_multiplicar,#btn_dividir,#btn_porcentaje{
    position: absolute;
    left: calc(72vw * var(--porcentaje));
}
/* fin linea 0 */


/* linea 1 */
#btn_1,#btn_2,#btn_3,#btn_restar{
    top: calc(122vw * var(--porcentaje));
}
/* fin linea 1 */


/* linea 4 */
#btn_4,#btn_5,#btn_6,#btn_multiplicar{
    top: calc(108vw * var(--porcentaje));
}
/* fin linea 4 */


/* linea 7*/
#btn_7,#btn_8,#btn_9,#btn_dividir{
    top: calc(95vw * var(--porcentaje));
}
/* fin linea 7*/


/* linea memoria*/
#btn_memory_record,#btn_memory_sumar,#btn_memory_restar,#btn_porcentaje{
    top: calc(81vw * var(--porcentaje));
}
/* fin linea memoria*/


/* linea funciones*/
#btn_ac,#btn_c,#btn_signo,#btn_raiz,#btn_off{
    position: absolute;
    top: calc(68vw * var(--porcentaje));
    width: calc(16vw * var(--porcentaje));
}
#btn_ac{
    left: calc(8vw * var(--porcentaje));
}
#btn_c{
    left: calc(25vw * var(--porcentaje));
}
#btn_signo{
    left: calc(42vw * var(--porcentaje));
}
#btn_raiz{
    left: calc(59vw * var(--porcentaje));
}
#btn_off{
    left: calc(76vw * var(--porcentaje));
}
/* fin linea funciones*/


#main_display{
    width: calc(66.5vw * var(--porcentaje)); 
    height: calc(24.5vw * var(--porcentaje));
    position: absolute;
    top: calc(31.8vw * var(--porcentaje));
    left: calc(16.5vw * var(--porcentaje));
    text-align: right;
    line-height: calc(37vw * var(--porcentaje));
    font-size: calc(13vw * var(--porcentaje));
}

#aux_display{
    font-size: calc(5vw * var(--porcentaje));
    width: calc(65vw * var(--porcentaje));
    height: calc(15vw * var(--porcentaje));
    position: absolute;
    top: calc(30vw * var(--porcentaje));
    left: calc(16vw * var(--porcentaje));
    text-align: right;
    line-height: calc(15vw * var(--porcentaje));
    overflow: hidden;
    padding-left: calc(2vw * var(--porcentaje));;
}

#error{
    position: absolute;
    top: calc(3vw * var(--porcentaje));
    left: calc(0vw * var(--porcentaje));
    text-align: center;
    line-height: calc(10vw * var(--porcentaje));
    font-size: calc(10vw * var(--porcentaje));
} 
